@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --dark-blue: #1e3f80;
  --light-blue-overlay: #1e62e8 64%;
  --light-blue-text: #1e3f80 88%;
  --main-font: "Source Sans 3", sans-serif;
  --main-box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.25);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: var(--main-font);
  color: #fff;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: #fff;
}

#hero {
  display: flex;
  min-height: 100%;
  width: 100vw;
}

#left {
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--dark-blue);
  width: 35%;
}

#left-title h1 {
  font-size: 60px;
  line-height: 55px;
  letter-spacing: 0.05em;
  margin-bottom: 30px;
  font-weight: 600;
}

#left-title p {
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0.05em;
  font-weight: 200;
  margin-bottom: 20px;
}

.button {
  margin-top: 20px;
  padding: 20px 30px;
  align-self: flex-start;
  font-size: 25px;
  font-weight: 600;
  border-style: none;
  border-radius: 4px;
  box-shadow: var(--main-box-shadow);
  cursor: pointer;
  transition: all 0.2s;
}

.left-button {
  background-color: #fff;
  color: rgba(30, 63, 128, 0.88);
  margin-bottom: 30px;
}

.right-button {
  margin: 0 auto;
  background-color: var(--dark-blue);
  color: #fff;
}

.button:hover {
  transform: translateY(-5px) scale(102%);
}

#video-embed {
  box-shadow: var(--main-box-shadow);
  margin: 0 auto;
  width: 100%;
  border-style: none;
}

.diskon {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.03em;
}

#left-cta {
  font-size: 22px;
  font-weight: 200;
  letter-spacing: 0.03em;
}

#right {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      0deg,
      rgb(30, 98, 232, 0.64),
      rgb(30, 98, 232, 0.64)
    ),
    url("./public/pexels-antoni-shkraba-6266980-min.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 65%;
}

#right-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80%;
  width: 100%;
  border: 2px solid white;
  margin: 50px;
  box-shadow: var(--main-box-shadow);
  text-align: center;
  padding: 180px 40px;
}

#right-title {
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
}

#right-box-paragraph {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  font-weight: 400;
}

.diskon-right {
  font-weight: 900;
  font-size: 32px;
}

/* 1500px large laptop and desktop*/
@media (max-width: 1500px) {
  #left {
    width: 40%;
  }

  #right {
    width: 60%;
  }

  #left-title h1 {
    font-size: 52.5px;
    margin-bottom: 28px;
  }

  #left-title p {
    font-size: 25px;
    margin-bottom: 18px;
  }

  .diskon {
    font-size: 22.5px;
  }

  #left-cta {
    font-size: 20px;
  }
}

/* 1200px laptop*/
@media (max-width: 1200px) {
  #hero {
    flex-direction: column;
  }

  #left {
    padding: 25px 50px;
    width: 100%;
    text-align: center;
  }

  #left-title h1 {
    line-height: 45px;
    font-size: 45px;
    margin-bottom: 20px;
  }

  #left-title p {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .diskon {
    font-size: 20px;
  }

  #left-cta {
    font-size: 18px;
  }

  #right {
    width: 100%;
  }

  #right-box {
    height: 90%;
    margin: 30px;
    padding: 160px 20px;
  }

  #right-title {
    margin-bottom: 50px;
    font-size: 45px;
  }

  .diskon-right {
    margin-top: 20px;
    font-size: 30px;
  }

  #right-box-paragraph {
    font-size: 18px;
  }

  .button {
    margin-top: 15px;
    padding: 20px 30px;
    font-size: 20px;
  }

  #video-embed {
    max-width: 60%;
  }
}

/* tablets */
@media (max-width: 992px) {
  #hero {
    flex-direction: column;
  }

  #left {
    padding: 25px 50px;
    width: 100%;
    text-align: center;
  }

  #left-title h1 {
    font-size: 40px;
  }

  #right {
    width: 100%;
  }

  #video-embed {
    max-width: 75%;
  }

  /* mobile */
  @media (max-width: 768px) {
    #right-box {
      height: 90%;
      margin: 15px;
      padding: 100px 20px;
      justify-content: space-between;
    }

    #right-box-paragraph {
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 0.05em;
      font-weight: 400;
    }

    #video-embed {
      max-width: 100%;
    }
  }

  @media (max-width: 425px) {
    #left {
      padding: 20px 20px;
    }

    #left-title h1 {
      font-size: 30px;
      line-height: 30px;
    }
  }

  #right-box {
    height: 100%;
    width: 100%;
    margin: 10px;
  }

  #right-title {
    font-size: 35px;
    line-height: 40px;
  }

  .diskon-right {
    font-weight: 900;
    font-size: 25px;
  }
}
