@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --dark-blue: #1e3f80;
  --light-blue-overlay: #1e62e8 64%;
  --light-blue-text: #1e3f80 88%;
  --main-font: "Source Sans 3", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: var(--main-font);
  color: #fff;
}

#hero {
  display: flex;
  min-height: 100%;
  width: 100vw;
}

#left {
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--dark-blue);
  width: 35%;
}

#left-title h1 {
  font-size: 60px;
  line-height: 55px;
  letter-spacing: 0.05em;
  margin-bottom: 30px;
  font-weight: 600;
}

#left-title p {
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0.05em;
  font-weight: 200;
}

#left-button {
  padding: 20px 30px;
  align-self: flex-start;
  font-size: 25px;
  font-weight: 600;
  background-color: #fff;
  color: rgba(30, 63, 128, 0.88);
  border-style: none;
  border-radius: 4px;
  margin-bottom: 30px;
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 0.2s;
}

#right-button {
  padding: 20px 30px;
  font-size: 25px;
  font-weight: 600;
  background-color: var(--dark-blue);
  color: #fff;
  border-style: none;
  border-radius: 4px;
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 0.2s;
}

#left-button:hover,
#right-button:hover {
  transform: translateY(-5px) scale(102%);
}

#video-embed {
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  width: 100%;
}

.diskon {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.03em;
}

#left-cta {
  font-size: 22px;
  font-weight: 200;
  letter-spacing: 0.03em;
}

#right {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      0deg,
      rgb(30, 98, 232, 0.64),
      rgb(30, 98, 232, 0.64)
    ),
    url("./public/pexels-antoni-shkraba-6266980-min.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 65%;
}

#right-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80%;
  width: 100%;
  border: 2px solid white;
  margin: 50px;
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 180px 40px;
}

#right-title {
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
}

#right-box-paragraph {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  font-weight: 400;
}

.diskon-right {
  font-weight: 900;
  font-size: 32px;
}

#video-embed {
  border-style: none;
}
